<!DOCTYPE html>
<html lang="hu">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<title>Giuseppe's Autos Katalógus</title>
	<link rel = "icon" href = "imgs/logo.png" type = "image/x-icon">
	<link rel="stylesheet" href="/css/styles.css">

	<script src="/js/index.js" defer></script>
	<script src="/js/katalogus.js" defer></script>
</head>

<body class="container-fluid wh-100 d-flex p-0">
	<div class="flex-fill">

        <!-- Modal -->

		<div class="modal fade" id="m_dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="m_dialog-title">Modal title</h5>
					</div>
					<div class="modal-body">
						<img src="" alt="Modal body text goes here." class="d-block mx-auto rounded" id="m_dialog-img">
					</div>
					<div class="modal-footer">
						<small>Kattints le innen és a doboz eltűnik.</small>
					</div>
				</div>
			</div>
		</div>

		<!-----Navbar---->
		
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark m-auto p-3" style="z-index: 9; position: fixed; top: 0; width: 100%; transition: 0.4;">

			<a class="nav-brand active" href="./"><img id="m_logo" src="imgs/logo.png"></a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse justify-content-end" id="navbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="katalogus" class="nav-link"><img style="position: fixed; right: 106px;" src="imgs/katalogus.png"><br>
						<hr>
						<i>Katalógus</i>
						</a>
					</li>
					<li class="nav-item">
						<a href="rolunk" class="nav-link"><img style="position: fixed; right: 33px;" src="imgs/rolunk.png"><br>
						<hr>
						<i>Rólunk</i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="dummy"></div>

		<form class="p-3" id="search" action="/katalogus" method="POST">
			<div>
				<div>
					<label for="cars" class="form-label">Autók</label>
				</div>

				<div class="row">
					<div class="col-sm">
						<select class="form-select" name="car" id="car">
							<option selected>-- Válasszon autót --</option>
							<% availableCars.forEach((element, index) => {
								if (element) { %>
									<option><%= element %></option>
							<% }}) %>
						</select>
					</div>

					<div class="col-sm"><input name="submit" type="submit" class="btn btn-primary" value="Keresés"></div>
					<div class="col-sm-6"></div>
				</div>
				<div class="col-6"></div>
			</div>
		</form>
		
		<div class="py-5 container-fluid">
			<div class="catalog-container w-100 m-auto p-1 m-auto">
				<% rows.forEach((element, index) => {
                    if (search.car == "-- Válasszon autót --"){
                        if (index != 0 && Boolean(element[5])) { %>
                            <div class="float-start zoom pt-3 m-1">
								<div class="card" style="height: 26rem; width: 32rem;">
									<div class="card-header">
										<h4 class="text-center"><%= element[0] %></h4>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col">
												<i>Bolti:</i>
												<p class="display-6">
													<%= element[2] %>
												</p>
												<i>Irányár:</i>
												<p class="display-6">
													<%= element[4] %>
												</p>
											</div>
											<div class="col">
												<img class="card-img" style="cursor: pointer;" onclick="popup_modal('<%= element[0] %>')" data-car="<%= element[0] %>" src="" alt="">
											</div>
										</div>
										<hr>
										<p class="card-text"><b> <%= element[10]%> </b></p>
									</div>
									<div class="card-footer bg-dark">
										<div class="p-2 text-center">
											<b class="text-white w-100">
												<%= element[9] || "???" %>
											</b>
										</div>
									</div>
								</div>
							</div>
                        <% }
                    }else{
                        if (index != 0 && Boolean(element[5]) && element[0] == search.car) { %>
                            <div class="float-start zoom pt-3 m-1">
								<div class="card" style="height: 26rem; width: 32rem;">
									<div class="card-header">
										<h4 class="text-center"><%= element[0] %></h4>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col">
												<i>Bolti:</i>
												<p class="display-6">
													<%= element[2] %>
												</p>
												<i>Irányár:</i>
												<p class="display-6">
													<%= element[4] %>
												</p>
											</div>
											<div class="col">
												<img class="card-img" style="cursor: pointer;" onclick="popup_modal('<%= element[0] %>')" data-car="<%= element[0] %>" src="" alt="">
											</div>
										</div>
										<hr>
										<p class="card-text"><b> <%= element[10]%> </b></p>
									</div>
									<div class="card-footer bg-dark">
										<div class="p-2 text-center">
											<b class="text-white w-100">
												<%= element[9] || "???" %>
											</b>
										</div>
									</div>
								</div>
							</div>
                        <% }
                    }
                }) %>
            </div>
		</div>
        <footer class="bg-dark footer fixed-bottom">
			<div class="text-white text-end pb-3 pe-3 mt-3">
				<span>&#169 <%= new Date().getFullYear() %>. Giuseppe's Autos | Minden jog fenntartva!</span>
			</div>
		</footer>
	</div>
</body>
</html>